
.dnd-section {
  padding: 60px 20px;
}
.blog-post-section {
  padding: 60px 0;
}
.dnd-section > .row-fluid,
.content-wrapper,
.header__wrapper {
  max-width: 1000px;
}
html {
  font-size: 16px;
}
body {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  background-color: #FFFFFF;
  color: #07294C;
  font-size: 16px;
}
p {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
}
a {
  font-weight: 400; text-decoration: underline; font-family: Lato, sans-serif; font-style: normal;
  color: #7E63F9;
}
a:hover,
a:focus {
  ;
  color: #7159E0;
}
a:active {
  ;
  color: #c1a9ff;
}
h1 {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  color: #07294C;
  font-size: 40px;
  text-transform: none;
}
h2 {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  color: #07294C;
  font-size: 32px;
  text-transform: none;
}
h3 {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  color: #07294C;
  font-size: 28px;
  text-transform: none;
}
h4 {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  color: #07294C;
  font-size: 24px;
  text-transform: none;
}
h5 {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  color: #07294C;
  font-size: 20px;
  text-transform: none;
}
h6 {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  color: #07294C;
  font-size: 16px;
  text-transform: none;
}
/* Blockquotes */
blockquote {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  border-left-color: #F5F5F5;
  color: #07294C;
  font-size: 24px;
}
blockquote > footer {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  font-size: 16px;
}
/* Horizontal rules */
hr {
  border-bottom-color: #EEEEEE;
}
/* Primary button */
button,
.button,
.hs-button {
  border: 1px solid #7159E0;
  padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
  font-family: Lato, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
  background-color: 
  rgba(126, 99, 249, 1.0)
;
  border-radius: 0px;
  color: #ffffff;
  fill: #ffffff;
  font-size: 16px;
  text-transform: none;
}
button:hover,
button:focus,
button:active,
.button:hover,
.button:focus,
.button:active,
.hs-button:hover,
.hs-button:focus,
.hs-button:active {
  border: 1px solid #7159E0;
  font-family: Lato, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
  background-color: 
  rgba(113, 89, 224, 1.0)
;
  color: #ffffff;
  fill: #ffffff;
}
button:active,
.button:active,
.hs-button:active {
  border: 1px solid #7159E0;
  font-family: Lato, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
  background-color: rgba(193, 169, 255, 100);
  border-color: #c1a9ff;
  color: #ffffff;
  fill: #ffffff;
}
/* Secondary button */
.button.button--secondary {
  border: 1px solid #DCDCDC;
  font-family: Lato, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
  background-color: 
  rgba(255, 255, 255, 0.0)
;
  border-radius: 0px;
  color: #7E63F9;
  fill: #7E63F9;
  text-transform: none;
}
.button.button--secondary:hover,
.button.button--secondary:focus,
.button.button--secondary:active {
  border: 1px solid #DCDCDC;
  font-family: Lato, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
  background-color: 
  rgba(220, 220, 220, 1.0)
;
  color: #ffffff;
  fill: #ffffff;
}
.button.button--secondary:active {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
  background-color: rgba(255, 255, 255, 100);
  border: 1px solid #DCDCDC;
  border-color: #ffffff;
  color: #ffffff;
  fill: #ffffff;
}
/* Simple button */
.button.button--simple {
  font-weight: 400; text-decoration: underline; font-family: Lato, sans-serif; font-style: normal;
  color: #7E63F9;
  fill: #7E63F9;
}
.button.button--simple:hover,
.button.button--simple:focus {
  ;
  color: #7159E0;
  fill: #7159E0;
}
.button.button--simple:active {
  ;
  color: #c1a9ff;
  fill: #c1a9ff;
}
/* Button sizing */
.button.button--small {
  padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
  font-size: 14px;
}
.button.button--large {
  padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
  font-size: 18px;
}
/* Form */
form {
  border: 1px none #F5F5F5;
  padding: 45px;
  background-color: 
  rgba(245, 245, 245, 1.0)
;
  border-radius: 0px;
}
/* Form title */
.form-title {
  border: 1px none #7E63F9;
  padding: 25px;
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  background-color: 
  rgba(126, 99, 249, 1.0)
;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #ffffff;
  font-size: 28px;
  text-transform: ;
}
/* Labels */
form label {
  padding-top: 6px;
padding-right: 0px;
padding-bottom: 6px;
padding-left: 0px;
  font-family: Lato, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
  color: #07294C;
  font-size: 16px;
}
/* Help text */
form legend {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #07294C;
  font-size: 14px;
}
/* Form fields */
form input[type='text'],
form input[type='email'],
form input[type='password'],
form input[type='tel'],
form input[type='number'],
form input[type='search'],
form select,
form textarea {
  border: 1px none #EEEEEE;
  padding: 10px;
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  background-color: 
  rgba(255, 255, 255, 1.0)
;
  border-radius: 0px;
  color: #07294C;
  font-size: 16px;
}
/* Form fields - placeholders */
::-webkit-input-placeholder {
  color: #EEEEEE;
}
::-moz-placeholder {
  color: #EEEEEE;
}
:-ms-input-placeholder {
  color: #EEEEEE;
}
:-moz-placeholder {
  color: #EEEEEE;
}
::placeholder {
  color: #EEEEEE;
}
/* Form fields - date picker */
form .hs-dateinput:before {
  right: 10px;
}
form .pika-table thead th {
  background-color: 
  rgba(126, 99, 249, 1.0)
;
  color: #ffffff;
}
form td.is-today .pika-button {
  color: #07294C;
}
form .is-selected .pika-button {
  background-color: #F5F5F5;
  color: #07294C;
}
form .pika-button:hover {
  background-color: #7E63F9 !important;
}
/* Headings and text */
form .hs-richtext,
form .hs-richtext *,
form .hs-richtext p,
form .hs-richtext h1,
form .hs-richtext h2,
form .hs-richtext h3,
form .hs-richtext h4,
form .hs-richtext h5,
form .hs-richtext h6 {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #07294C;
}
form .hs-richtext a {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #07294C;
}
/* GDPR */
form .legal-consent-container,
form .legal-consent-container .hs-richtext,
form .legal-consent-container .hs-richtext p {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #07294C;
  font-size: 14px;
}
/* Submit button */
  form input[type='submit'],
  form .hs-button {
    border: 1px solid #7159E0;
    font-family: Lato, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
    background-color: 
  rgba(126, 99, 249, 1.0)
;
    border-radius: 0px;
    color: #ffffff;
    text-transform: none;
  }
  form input[type='submit']:hover,
  form input[type='submit']:focus,
  form .hs-button:hover,
  form .hs-button:focus {
    border: 1px solid #7159E0;
    font-family: Lato, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
    background-color: 
  rgba(113, 89, 224, 1.0)
;
    color: #ffffff;
  }
  form input[type='submit']:active,
  form .hs-button:active {
    border: 1px solid #7159E0;
    font-family: Lato, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
    background-color: rgba(193, 169, 255, 100);
    border-color: #c1a9ff;
    color: #ffffff;
}
  form input[type='submit'],
  form .hs-button {
    padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
    font-size: 16px;
  }
/* Inline thank you message */
.submitted-message {
  border: 1px none #F5F5F5;
  padding: 45px;
  background-color: 
  rgba(245, 245, 245, 1.0)
;
  border-radius: 0px;
}
/* Default icon (regular/dark) */
.icon {
  padding: 15px;
  background-color: 
  rgba(126, 99, 249, 1.0)
;
}
.icon svg {
  fill: #ffffff;
  height: 16px;
  width: 16px;
}
/* Light icon */
.icon--light .icon {
  background-color: 
  rgba(255, 255, 255, 1.0)
;
}
.icon--light svg {
  fill: #7E63F9;
}
/* Size */
.icon--small svg {
  height: 12px;
  width: 12px;
}
.icon--small .icon {
  padding: 10px;
}
.icon--large svg {
  height: 24px;
  width: 24px;
}
.icon--large .icon {
  padding: 25px;
}
/* Table */
table {
  border: 1px solid #EEEEEE;
  background-color: 
  rgba(255, 255, 255, 1.0)
;
}
/* Table cells */
th,
td {
  border: 1px solid #EEEEEE;
  padding: 10px;
  color: #07294C;
}
/* Table header */
thead th,
thead td {
  background-color: 
  rgba(126, 99, 249, 1.0)
;
  color: #ffffff;
}
/* Table footer */
tfoot th,
tfoot td {
  background-color: 
  rgba(245, 245, 245, 1.0)
;
  color: #07294C;
}
/* Header container */
.header {
  background-color: 
  rgba(255, 255, 255, 1.0)
;
}
/* Header content color */
.header p,
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6,
.header a:not(.button),
.header span,
.header div,
.header li,
.header blockquote,
.header .tabs__tab,
.header .tabs__tab:hover,
.header .tabs__tab:focus,
.header .tabs__tab:active {
  color: #07294C;
}
/* Header top bar */
.header__top {
  background-color: 
  rgba(245, 245, 245, 1.0)
;
}
/* Language switcher */
.header__language-switcher-current-label > span {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #07294C;
  font-size: 16px;
  text-transform: none;
}
.header__language-switcher:hover .header__language-switcher-current-label > span,
.header__language-switcher:focus .header__language-switcher-current-label > span {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #000000;
}
.header__language-switcher-child-toggle svg {
  fill: #07294C;
}
/* Language switcher - submenu */
.header__language-switcher .lang_list_class {
  border-color: #EEEEEE;
}
.header__language-switcher .lang_list_class li {
  background-color: 
  rgba(255, 255, 255, 1.0)
;
}
.header__language-switcher .lang_list_class a:not(.button) {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #07294C;
  font-size: 16px;
  text-transform: none;
}
.header__language-switcher .lang_list_class a:hover,
.header__language-switcher .lang_list_class a:focus {
  background-color: 
  rgba(255, 255, 255, 1.0)
;
  color: #000000;
}
.header__language-switcher .lang_list_class a:active {
  background-color: 
  rgba(255, 255, 255, 1.0)
;
}
/* Header bottom */
.header__bottom {
  background-color: 
  rgba(255, 255, 255, 1.0)
;
}
/* Logo */
.header__logo-company-name {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  color: #07294C;
  font-size: 40px;
  text-transform: none;
}
/* Menu */
@media (max-width: 767px) {
  .header__menu--mobile {
    background-color: 
  rgba(255, 255, 255, 1.0)
;
  }
}
/* Menu items */
.header__menu-link {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  font-size: 16px;
  text-transform: none;
}
@media (max-width: 767px) {
  .header__menu-item--depth-1 {
    border-top: 1px solid #EEEEEE;
  }
}
/* Menu items - top level */
.header__menu-item--depth-1 > .header__menu-link:not(.button) {
  color: #07294C;
}
.header__menu-item--depth-1 > .header__menu-link:hover,
.header__menu-item--depth-1 > .header__menu-link:focus {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #000000;
}
.header__menu-item--depth-1 > .header__menu-link:active {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #505050;
}
.header__menu-item--depth-1 > .header__menu-link--active-link:not(.button) {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #000000;
}
.header__menu-item--depth-1 .header__menu-child-toggle svg {
  fill: #07294C;
}
/* Menu items - submenus */
.header__menu-submenu {
  background-color: 
  rgba(255, 255, 255, 1.0)
;
  border-color: #EEEEEE;
}
.header__menu-submenu .header__menu-link:not(.button) {
  color: #07294C;
}
.header__menu-submenu .header__menu-item:hover,
.header__menu-submenu .header__menu-item:focus {
  background-color: 
  rgba(255, 255, 255, 1.0)
;
}
.header__menu-submenu .header__menu-link:hover,
.header__menu-submenu .header__menu-link:focus {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #000000;
}
.header__menu-submenu .header__menu-link:active {
  background-color: 
  rgba(255, 255, 255, 1.0)
;
}
.header__menu-submenu .header__menu-link--active-link:not(.button) {
  color: ;
  background-color: 
  rgba(255, 255, 255, 1.0)
;
}
/* Menu icons */
.header__menu-toggle svg {
  fill: #07294C;
}
/* Footer container */
.footer {
  background-color: 
  rgba(255, 255, 255, 1.0)
;
}
/* Footer content color */
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer p,
.footer a:not(.button),
.footer span,
.footer div,
.footer li,
.footer blockquote,
.footer .tabs__tab,
.footer .tabs__tab:hover,
.footer .tabs__tab:focus,
.footer .tabs__tab:active {
  color: #07294C;
}
.footer hr {
  border-bottom-color: #07294C !important;
}
/* Footer menu */
.footer .hs-menu-wrapper a {
  font-family: Lato, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
  color: #07294C;
  font-size: 16px;
  text-transform: none;
}
.footer .hs-menu-wrapper a:hover,
.footer .hs-menu-wrapper a:focus {
  font-family: Lato, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
  color: #000000;
}
.footer .hs-menu-wrapper a:active {
  font-family: Lato, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
  color: #505050;
}
.footer .hs-menu-wrapper .active > a {
  font-weight: bold; text-decoration: underline; font-family: Lato, sans-serif; font-style: normal;
  color: #000000;
}
/* Dark card */
.card--dark {
  border: 1px solid #07294C;
  background-color: 
  rgba(7, 41, 76, 1.0)
;
  border-radius: 0px;
  color: #ffffff;
}
.card--dark summary,
.card--dark p,
.card--dark h1,
.card--dark h2,
.card--dark h3,
.card--dark h4,
.card--dark h5,
.card--dark h6,
.card--dark a:not(.button),
.card--dark span,
.card--dark div,
.card--dark li,
.card--dark blockquote {
  color: #ffffff
}
/* Light card */
.card--light {
  border: 1px solid #EEEEEE;
  background-color: 
  rgba(255, 255, 255, 1.0)
;
  border-radius: 0px;
  color: #07294C;
}
.card--light summary,
.card--light p,
.card--light h1,
.card--light h2,
.card--light h3,
.card--light h4,
.card--light h5,
.card--light h6,
.card--light a:not(.button),
.card--light span,
.card--light div,
.card--light li,
.card--light blockquote {
  color: #07294C;
}
/* Error templates */
.error-page:before {
  font-family: Lato, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
}
/* System templates */
#email-prefs-form,
#email-prefs-form h1,
#email-prefs-form h2 {
  color: #07294C;
}
/* Search template */
.hs-search-results__title {
  font-size: 32px;
}
/* Backup unsubscribe template */
.backup-unsubscribe input[type='email'] {
  font-size: 16px !important;
  padding: padding: 10px;
 !important;
}
/* Accordion */
.accordion__summary,
.accordion__summary:before {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  font-size: 24px;
}
.card--dark .accordion__summary:before {
  color: #ffffff;
}
.card--light .accordion__summary:before {
  color: #07294C;
}
/* Blog listing, recent posts, related posts, and blog post */
.blog-listing__post-title {
  text-transform: none;
}
.blog-listing__post-title-link {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  color: #07294C;
}
.blog-listing__post-title-link:hover,
.blog-listing__post-title-link:focus {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  color: #000000;
}
.blog-listing__post-title-link:active {
  font-family: Outfit, sans-serif; font-style: normal; font-weight: 700; text-decoration: none;
  color: #57799c;
}
.blog-listing__post-tag {
  color: #07294C;
}
.blog-listing__post-tag:hover,
.blog-listing__post-tag:focus {
  color: #000000;
}
.blog-listing__post-tag:active {
  color: #57799c;
}
.blog-listing__post-author-name,
.blog-post__author-name {
  color: #07294C;
}
.blog-listing__post-author-name :hover,
.blog-listing__post-author-name :focus,
.blog-post__author-name:hover,
.blog-post__author-name:focus {
  color: #000000;
}
.blog-listing__post-author-name :active,
.blog-post__author-name:active {
  color: #57799c;
}
/* Image gallery */
.image-gallery__close-button-icon:hover,
.image-gallery__close-button-icon:focus {
  background-color: rgba(46, 19, 169, 1.0);
}
.image-gallery__close-button-icon:active {
  background-color: rgba(206, 179, 255, 1.0);
}
.icon--light .image-gallery__close-button-icon:hover,
.icon--light .image-gallery__close-button-icon:focus {
  background-color: rgba(175, 175, 175, 1.0);
}
.icon--light .image-gallery__close-button-icon:active {
  background-color: rgba(255, 255, 255, 1.0);
}
/* Pagination */
.pagination__link-icon svg {
  fill: #7E63F9;
  height: 16px;
  width: 16px;
}
.pagination__link:hover .pagination__link-icon svg,
.pagination__link:focus .pagination__link-icon svg {
  fill: #7159E0;
}
.pagination__link:active .pagination__link-icon svg {
  fill: #ceb3ff;
}
.pagination__link--active {
  border-color: #EEEEEE
}
/* Pricing card */
.pricing-card__heading {
  background-color: #7E63F9;
}
/* Social follow and social sharing */
.social-follow__icon:hover,
.social-follow__icon:focus,
.social-sharing__icon:hover,
.social-sharing__icon:focus {
  background-color: rgba(46, 19, 169, 1.0);
}
.social-follow__icon:active,
.social-sharing__icon:active {
  background-color: rgba(206, 179, 255, 1.0);
}
.icon--light .social-follow__icon:hover,
.icon--light .social-follow__icon:focus,
.icon--light .social-sharing__icon:hover,
.icon--light .social-sharing__icon:focus {
  background-color: rgba(175, 175, 175, 1.0);
}
.icon--light .social-follow__icon:active,
.icon--light .social-sharing__icon:active {
  background-color: rgba(255, 255, 255, 1.0);
}
/* Tabs */
.tabs__tab,
.tabs__tab:hover,
.tabs__tab:focus,
.tabs__tab:active {
  border-color: #07294C;
  color: #07294C;
}
</style>
<link rel="stylesheet" href="style2.css">
<style>
#hs_cos_wrapper_header-module-1 .header__top { background-color:rgba(#null,0.0); }
#hs_cos_wrapper_header-module-1 .header__language-switcher-current-label>span {}
#hs_cos_wrapper_header-module-1 .header__language-switcher:hover .header__language-switcher-current-label>span,
#hs_cos_wrapper_header-module-1 .header__language-switcher:focus .header__language-switcher-current-label>span {}
#hs_cos_wrapper_header-module-1 .header__language-switcher .lang_list_class a:hover,
#hs_cos_wrapper_header-module-1 .header__language-switcher .lang_list_class a:focus {}
#hs_cos_wrapper_header-module-1 .header__language-switcher .lang_list_class a:active {}
#hs_cos_wrapper_header-module-1 .header__logo-image { border-radius:px; }
#hs_cos_wrapper_header-module-1 .header__menu-link {}
#hs_cos_wrapper_header-module-1 .header__menu-item--depth-1>.header__menu-link:hover,
#hs_cos_wrapper_header-module-1 .header__menu-item--depth-1>.header__menu-link:focus {}
#hs_cos_wrapper_header-module-1 .header__menu-item--depth-1>.header__menu-link:active {}
#hs_cos_wrapper_header-module-1 .header__menu-item--depth-1>.header__menu-link--active-link {}
#hs_cos_wrapper_header-module-1 .header__menu-submenu .header__menu-link:hover,
#hs_cos_wrapper_header-module-1 .header__menu-submenu .header__menu-link:focus {}
#hs_cos_wrapper_header-module-1 .button {
  background-color:rgba(#null,0.0);
  border-radius:px;
}
#hs_cos_wrapper_header-module-1 .button:hover,
#hs_cos_wrapper_header-module-1 .button:focus { background-color:rgba(#null,0.0); }
#hs_cos_wrapper_header-module-1 .button:active { background-color:rgba(#null,0.0); }
</style>
<link rel="stylesheet" href="style3.css">
  <style>
  @layer module {
  #hs_cos_wrapper_dnd_area-dnd_partial-2-module-3 .hs-logo-grid { gap:30px; }
#hs_cos_wrapper_dnd_area-dnd_partial-2-module-3 .hs-logo-grid__logo-wrapper {
  flex:0 1 calc(25.0% - 22.5px);
  max-width:calc(25.0% - 22.5px);
  padding:0px;
}
#hs_cos_wrapper_dnd_area-dnd_partial-2-module-3 .hs-logo-grid__logo { max-height:75px; }
  }
  </style>
<style>
#hs_cos_wrapper_dnd_area-dnd_partial-3-module-4 .icon-wrapper { text-align:CENTER; }
#hs_cos_wrapper_dnd_area-dnd_partial-3-module-4 .icon {
  border-radius:px;
  margin-bottom:22px;
}
#hs_cos_wrapper_dnd_area-dnd_partial-3-module-4 .icon svg {}
</style>
<style>
#hs_cos_wrapper_dnd_area-dnd_partial-3-module-7 .icon-wrapper { text-align:CENTER; }
#hs_cos_wrapper_dnd_area-dnd_partial-3-module-7 .icon {
  border-radius:px;
  margin-bottom:22px;
}
#hs_cos_wrapper_dnd_area-dnd_partial-3-module-7 .icon svg {}
</style>
<style>
#hs_cos_wrapper_dnd_area-dnd_partial-3-module-10 .icon-wrapper { text-align:CENTER; }
#hs_cos_wrapper_dnd_area-dnd_partial-3-module-10 .icon {
  border-radius:px;
  margin-bottom:22px;
}
#hs_cos_wrapper_dnd_area-dnd_partial-3-module-10 .icon svg {}
</style>
<link rel="stylesheet" href="style4.css">
<style>
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-3 .offer-card__icon { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-3 .offer-card__icon svg {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-3 .offer-card__image-wrapper {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-3 .offer-card__image {
  max-width:100%;
  height:auto;
  border-radius:px;
}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-3 .offer-card__button-wrapper {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-3 .button { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-3 .button:hover,
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-3 .button:focus {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-3 .button:active {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-3 .offer-card {
  background-color:rgba(#null,0.0);
  border-radius:px;
  margin-bottom:22px;
}
</style>
<style>
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-4 .offer-card__icon { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-4 .offer-card__icon svg {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-4 .offer-card__image-wrapper {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-4 .offer-card__image {
  max-width:100%;
  height:auto;
  border-radius:px;
}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-4 .offer-card__button-wrapper {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-4 .button { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-4 .button:hover,
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-4 .button:focus {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-4 .button:active {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-4 .offer-card {
  background-color:rgba(#null,0.0);
  border-radius:px;
  margin-bottom:22px;
}
</style>
<style>
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-5 .offer-card__icon { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-5 .offer-card__icon svg {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-5 .offer-card__image-wrapper {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-5 .offer-card__image {
  max-width:100%;
  height:auto;
  border-radius:px;
}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-5 .offer-card__button-wrapper {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-5 .button { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-5 .button:hover,
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-5 .button:focus {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-5 .button:active {}
#hs_cos_wrapper_dnd_area-dnd_partial-4-module-5 .offer-card {
  background-color:rgba(#null,0.0);
  border-radius:px;
}
</style>
<link rel="stylesheet" href="style5.css">
  <style>
  #hs_cos_wrapper_dnd_area-dnd_partial-5-module-3 .pricing-card__heading { background-color:rgba(#null,0.0); }
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-3 .pricing-card__list-item {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-3 .pricing-card__list-icon { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-3 .pricing-card__list-icon svg {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-3 .pricing-card__button-wrapper {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-3 .button { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-3 .button:hover,
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-3 .button:focus {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-3 .button:active {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-3 .pricing-card {
  border-radius:px;
  margin-bottom:22px;
}
  </style>
  <style>
  #hs_cos_wrapper_dnd_area-dnd_partial-5-module-4 .pricing-card__heading { background-color:rgba(#null,0.0); }
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-4 .pricing-card__list-item {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-4 .pricing-card__list-icon { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-4 .pricing-card__list-icon svg {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-4 .pricing-card__button-wrapper {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-4 .button { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-4 .button:hover,
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-4 .button:focus {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-4 .button:active {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-4 .pricing-card {
  border-radius:px;
  margin-bottom:22px;
}
  </style>
  <style>
  #hs_cos_wrapper_dnd_area-dnd_partial-5-module-5 .pricing-card__heading { background-color:rgba(#null,0.0); }
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-5 .pricing-card__list-item {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-5 .pricing-card__list-icon { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-5 .pricing-card__list-icon svg {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-5 .pricing-card__button-wrapper {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-5 .button { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-5 .button:hover,
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-5 .button:focus {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-5 .button:active {}
#hs_cos_wrapper_dnd_area-dnd_partial-5-module-5 .pricing-card { border-radius:px; }
  </style>
<link rel="stylesheet" href="style6.css">
<style>
#hs_cos_wrapper_dnd_area-dnd_partial-6-module-3 .testimonial {
  background-color:rgba(#null,0.0);
  border-radius:px;
}
#hs_cos_wrapper_dnd_area-dnd_partial-6-module-3 .testimonial__author-image { border-radius:px; }
</style>
<style>
#hs_cos_wrapper_dnd_area-dnd_partial-6-module-4 .testimonial {
  background-color:rgba(#null,0.0);
  border-radius:px;
}
#hs_cos_wrapper_dnd_area-dnd_partial-6-module-4 .testimonial__author-image { border-radius:px; }
</style>
<style>
#hs_cos_wrapper_dnd_area-dnd_partial-6-module-5 .testimonial {
  background-color:rgba(#null,0.0);
  border-radius:px;
}
#hs_cos_wrapper_dnd_area-dnd_partial-6-module-5 .testimonial__author-image { border-radius:px; }
</style>
<link rel="stylesheet" href="style7.css">
<style>
#hs_cos_wrapper_dnd_area-dnd_partial-8-module-4 .list {
  list-style:none;
  padding-left:0;
}
#hs_cos_wrapper_dnd_area-dnd_partial-8-module-4 .list__item {
  align-items:center;
  display:flex;
  width:100%;
}
#hs_cos_wrapper_dnd_area-dnd_partial-8-module-4 .list__item { margin-bottom:22px; }
#hs_cos_wrapper_dnd_area-dnd_partial-8-module-4 .list__icon { border-radius:px; }
#hs_cos_wrapper_dnd_area-dnd_partial-8-module-4 .list__icon svg {}
</style>
<link rel="stylesheet" href="style8.css">
<style>
#hs_cos_wrapper_footer-module-2 .social-follow { justify-content:center; }
#hs_cos_wrapper_footer-module-2 .social-follow__link { margin-bottom:44px; }
#hs_cos_wrapper_footer-module-2 .social-follow__icon { border-radius:px; }
#hs_cos_wrapper_footer-module-2 .social-follow__icon svg {}
</style>
  <style>
  #hs_cos_wrapper_footer-module-4 hr {
  border:0 none;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(0,0,0,1.0);
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
  width:100%;
}
  </style>
<style>
  @font-face {
    font-family: "Source Serif Pro";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Source_Serif_Pro/600.woff2") format("woff2"), url("/_hcms/googlefonts/Source_Serif_Pro/600.woff") format("woff");
  }
  @font-face {
    font-family: "Source Serif Pro";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Source_Serif_Pro/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Source_Serif_Pro/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Montserrat/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Montserrat/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Montserrat/600.woff2") format("woff2"), url("/_hcms/googlefonts/Montserrat/600.woff") format("woff");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Montserrat/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Montserrat/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lato/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Lato/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Lato/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Lato/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Outfit/regular.woff2") format("woff2"), url("/_hcms/googlefonts/Outfit/regular.woff") format("woff");
  }
  @font-face {
    font-family: "Outfit";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/_hcms/googlefonts/Outfit/700.woff2") format("woff2"), url("/_hcms/googlefonts/Outfit/700.woff") format("woff");
  }
  .aesthetic-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aesthetic-form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
    color: #333;
}

.aesthetic-form input[type="text"],
.aesthetic-form input[type="email"],
.aesthetic-form input[type="password"]
.aesthetic-form input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.aesthetic-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.aesthetic-form button:hover {
    background-color: #45a049;
}

/* </style> */

<style id="hs_editor_style" type="text/css">
.header-row-0-force-full-width-section > .row-fluid {
  max-width: none !important;
}
.dnd_area-row-0-background-image {
  background-image: url('https://7528315.fs1.hubspotusercontent-na1.net/hubfs/7528315/raw_assets/public/mV0_d-CmsIndustryAssets_hubspot/cms-industry-assets/img/manufacturing/home-banner.jpg') !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.dnd_area-row-0-max-width-section-centering > .row-fluid {
  max-width: 750px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.dnd_area-row-1-background-color {
  background-color: rgba(242, 246, 255, 1) !important;
}
.dnd_area-row-5-background-color {
  background-color: rgba(242, 246, 255, 1) !important;
}
.dnd_area-row-7-background-color {
  background-color: rgba(242, 246, 255, 1) !important;
}
/* HubSpot Styles (default) */
.header-row-0-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.dnd_area-row-0-padding {
  padding-top: 132px !important;
  padding-bottom: 132px !important;
}
.dnd_area-dnd_partial-2-column-1-row-0-margin {
  margin-bottom: 22px !important;
}
.dnd_area-dnd_partial-3-column-1-row-0-margin {
  margin-bottom: 22px !important;
}
.dnd_area-dnd_partial-4-column-1-row-0-margin {
  margin-bottom: 22px !important;
}
.dnd_area-dnd_partial-5-column-1-row-0-margin {
  margin-bottom: 22px !important;
}
.dnd_area-dnd_partial-6-column-1-row-0-margin {
  margin-bottom: 22px !important;
}
.dnd_area-dnd_partial-7-column-1-row-0-margin {
  margin-bottom: 22px !important;
}
.dnd_area-dnd_partial-7-column-3-margin {
  margin-bottom: 22px !important;
}
.dnd_area-dnd_partial-8-column-1-row-0-margin {
  margin-bottom: 22px !important;
}
.footer-row-0-padding {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
.footer-row-1-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.footer-row-2-padding {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}